<header>
  <div class="container">
    <div class="navbar-header">
      <h1>Simply Social</h1>
      <a href="/#/">
        <span class="icon icon-logo"></span>
      </a>
    </div>
    <nav class="main-nav">
      <ul>
        <li ng-click="newMessage()">
          <span class="icon icon-new-message"></span>
        </li>
        <li class="main-search">
          <input class="search-input" type="text" name="search-input"/>
          <span class="icon icon-input icon-magnifier"></span>
        </li>
        <li class="menu-tooltip">
          <img class="avatar" ng-src="/images/avatar-{{ username }}.jpg">
          <span class="icon icon-arrow-down"></span>
          <ul class="tooltip">
            <li>
              <a href="/#/">Profile</a>
            </li>
            <li>
              <a href="/#/">Followers</a>
            </li>
            <li>
              <a href="/#/">Following</a>
            </li>
            <li>
              <a href="/#/settings">Settings</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
