footer {
  margin: 100px 0 200px 0;
  border-top: 1px solid #CCC;
  ul {
    margin-top: 25px;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
    color: #818890;
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    color: #98DFCD;
  }
}
