.btn {
  padding: 2px 20px;
  margin-bottom: 0;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 0px;
  @include user-select(none);
  border-radius: .2em;
  font-size: 14px;
}


.btn-submit {
  background-color: #00b286;
  color: #FFF;
}

.btn-ghost {
  border: 1px solid #bec3cc;
  background: white;
  display: block;
  width: 85px;
}

.btn-hidden {
  background: transparent;
  color: #00b286;
  position: absolute;
  right: 65px;
  top: 4px;
}